{% extends "chat/base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="content-section">
  <h3 class="text-center">{{ room_name }}</h3>
  <div
    id="chat-log-container"
    class="container bg-light p-2 rounded border overflow-auto"
    style="height: 480px; overflow-y: auto"
  >
    <div id="chat-log">
      {% if db_messages %} 
      {% for m in db_messages %}
      <div id ="{{ m.id }}" class="media content-section">
        <img class="rounded-circle article-img" src="{{ m.profile_pic }}" />
        <div class="media-body">
          <div class="article-metadata">
            <span class="mr-2"> {{ m.username }} </span>
          </div>
          <p class="article-content">{{ m.message_content }}</p>
          {% if m.username == username %}
          <div class="d-flex justify-content align-items-center">
            <form action="{% url 'delete_object' m.id %}" method="post" class="delete-form">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" data-id="{{ m.id }}">
                Delete <i class="fa fa-trash"></i>
              </button>
                 
            </form>
            <button type='button' id="edit-message" class='btn btn-warning edit-message' data-id="{{ m.id }}">
              edit <i class='fa fa-trash'></i>
            </button>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %} 
      {% endif %}
      <script>
        let myDiv = document.getElementById("chat-log-container");
        myDiv.scrollTop = myDiv.scrollHeight;
      </script>
    </div>
  </div>
  <br />
  <input class="form-control" id="chat-message-input" type="text" size="100" /><br />
  <input class="form-control" id="chat-message-submit" type="button" value="Send" />

  <div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control" id="chat-message-input-2" type="text" size="100" /><br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="chat-message-submit-2">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {% block scripts %} 
  {{ room_name|json_script:"room-name" }} 
  {{ request.user.username|json_script:"user-name" }} 
  {{ request.user.profile.image.url|json_script:"profile-pic" }}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".delete-form").forEach(form => {
            form.addEventListener("submit", function (event) {

                let formElement = event.target;
                let messageDiv = formElement.closest(".message"); // Get parent div
                let url = formElement.action; // Get form action URL

                fetch(url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": formElement.querySelector("[name=csrfmiddlewaretoken]").value
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        messageDiv.remove(); // Remove the message div from the UI
                        location.reload();
                    } else {
                        alert("Error: " + data.error);
                    }
                });
            });
        });
    });

    function submitDeleteForm(messageId) {
      console.log("Message deleted: " + messageId);
      event.preventDefault();
      const form = document.createElement("form");
      form.method = "POST";
      form.action = `/chatroom/${messageId}`;  // matches your Django URL

      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      const csrfInput = document.createElement("input");
      csrfInput.type = "hidden";
      csrfInput.name = "csrfmiddlewaretoken";
      csrfInput.value = csrfToken;
      form.appendChild(csrfInput);

      form.style.display = "none";
      document.body.appendChild(form);
      form.submit();
      document.getElementById(messageId).remove()
    }

    const roomName = JSON.parse(document.getElementById("room-name").textContent);
    const userName = JSON.parse(document.getElementById("user-name").textContent);
    const profilePic = JSON.parse(document.getElementById("profile-pic").textContent);
    let messageId = null;

    const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    const chatSocket = new WebSocket(protocol + window.location.host + '/ws/chat/' + roomName + '/');

    
    
    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      if (data.message) {
        let html = '<div class="media content-section">';
        html += '<img class="rounded-circle article-img" src="' + data.profile_pic + '" />';
        html += '<div class="media-body">';
        html += '<div class="article-metadata">';
        html += '<span class="mr-2">' + data.username + "</span>";
        html += "</div>";
        html += '<p class="article-content">' + data.message + "</p>";
        html += "</div>";
        html += "</div>";
        document.querySelector("#chat-log").innerHTML += html;

        let myDiv = document.getElementById("chat-log-container");
        myDiv.scrollTop = myDiv.scrollHeight;
      } else {
        alert("Message was empty");
      }
    };

    chatSocket.onclose = function (e) {
      console.error("Chat socket closed unexpectedly");
    };

    function handleChatInput(inputId, submitId) {
      const inputEl = document.querySelector(inputId);
      const submitEl = document.querySelector(submitId);
      inputEl.focus();

      inputEl.onkeyup = function (e) {
        if (e.keyCode === 13) {
          submitEl.click();
        }
      };

      submitEl.onclick = function () {
        const message = inputEl.value;
        chatSocket.send(
          JSON.stringify({
            message: message,
            username: userName,
            profile_pic: profilePic,
            room: roomName,
          })
        );
        inputEl.value = "";
        location.reload();
      };
    }

    handleChatInput("#chat-message-input", "#chat-message-submit");
    handleChatInput("#chat-message-input-2", "#chat-message-submit-2");

  document.querySelectorAll(".edit-message").forEach(button => {
    button.addEventListener("click", function(event) {
      event.preventDefault(); 
      $('#myModal').modal('show');
      if (this.id === "edit-message") {
        messageId = this.dataset.id;
        console.log(document.getElementById(messageId));
      } 
    });
  });

  document.getElementById("chat-message-submit-2").addEventListener("click", function() {
    submitDeleteForm(messageId);
  });
  </script>
  {% endblock scripts %}
</div>
{% endblock content %}

{% block server %}
<div class="col-md-4">
  <div class="content-section p-2 shadow rounded bg-light">
    <h3 class="text-muted font-weight-bold">🌍 Public Servers</h3>
    <p class="text-muted">Join a public chat room or DM the admin for more options!</p>
    <ul class="list-group">
      {% if rooms is None %}
      <li class="list-group-item text-center text-muted">No public servers available</li>
      {% else %}
      {% for room in rooms %}
      <li class="list-group-item">
        <a class="text-primary font-weight-bold" href="{% url 'chat-room' room.slug %}">{{ room.name }}</a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
{% endblock server %}
