{% extends "chat_and_tasks/base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="content-section">
  <h3 class="text-center">{{ room_name }}</h3>
  <div
    id="chat-log-container"
    class="container bg-light p-2 rounded border overflow-auto"
    style="height: 480px; overflow-y: auto"
  >
    <div id="chat-log">
      {% if db_messages %} 
      {% for m in db_messages %}
      <div id ="{{ m.id }}" class="media content-section">
        <img class="rounded-circle article-img" src="{{ m.profile_pic }}" />
        <div class="media-body">
          <div class="article-metadata">
            <span class="mr-2"> {{ m.username }} </span>
          </div>
          <p class="article-content">{{ m.message_content }}</p>
          {% if m.username == username %}
          <div class="d-flex justify-content align-items-center">
            <form action="{% url 'delete_object' m.id %}" method="post" class="delete-form">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" data-id="{{ m.id }}">
                Delete <i class="fa fa-trash"></i>
              </button>
                 
            </form>
            <button type='button' id="edit-message" class='btn btn-warning edit-message' data-id="{{ m.id }}">
              edit <i class='fa fa-trash'></i>
            </button>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %} 
      {% endif %}
      <script>
        let myDiv = document.getElementById("chat-log-container");
        myDiv.scrollTop = myDiv.scrollHeight;
      </script>
    </div>
  </div>
  <br />
  <br />
  <input class="form-control" id="chat-message-input" type="text" size="100" /><br />
  <input class="form-control" id="chat-message-submit" type="button" value="Send" />

  <div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control" id="chat-message-input-2" type="text" size="100" /><br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="chat-message-submit-2">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

{% block server %}
<div class="col-md-4">
  <div class="content-section p-2 shadow rounded bg-light">
    <h3 class="text-muted font-weight-bold">🌍 Public Servers</h3>
    <p class="text-muted">Join a public chat room or DM the admin for more options!</p>
    <ul class="list-group">
      {% if rooms is None %}
      <li class="list-group-item text-center text-muted">No public servers available</li>
      {% else %}
      {% for room in rooms %}
      <li class="list-group-item">
        <a class="text-primary font-weight-bold" href="{% url 'chat-room' room.slug %}">{{ room.name }}</a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
{% endblock server %}